@charset "UTF-8";

@font-face {
  font-display: swap;
  font-family: "Poppins";
  src: url("../fonts/Poppins-Regular.eot");
  src: local("☺"), url("../fonts/Poppins-Regular.woff") format("woff"), url("../fonts/Poppins-Regular.ttf") format("truetype"), url("../fonts/Poppins-Regular.svg") format("svg");
  font-weight: 400;
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

body {
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.container {
  max-width: 1208px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

html {
  font-size: 10px;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

body.locked {
  overflow: hidden;
}

.btn {
  font-size: 1.6rem;
  line-height: 1.25;
  background-color: white;
  letter-spacing: 0.4px;
  border-radius: 14px;
  padding: 11px 20px;
}

.btn span {
  position: relative;
  color: black;
  top: calc(50% - 10px - 2px);
  -webkit-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  transition: all 0.1s ease;
}

.btn:hover span {
  top: calc(50% - 7.5px - 2px);
}

.text {
  font-size: 1.4rem;
  line-height: 1.43;
  color: #C0C0C0;
}

.title {
  font-size: 4rem;
  line-height: 1.05;
  color: white;
}

.subtitle {
  font-size: 2.4rem;
  line-height: 1.25;
  color: #C0C0C0;
}

.black-circle {
  width: 3.2rem;
  height: 3.2rem;
  background-color: #000;
  border-radius: 1.2rem;
}

.combined {
  color: white;
  font-size: 1.2rem;
  line-height: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: end;
      align-self: flex-end;
  gap: 1.6rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.combined sup {
  margin-left: 0.6rem;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@-webkit-keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

nav {
  background-color: #181818;
  overflow: hidden;
  /* position: absolute; 
  top: 0;
  left: 0;
  right: 0; */
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2.4rem 0;
}

.logo {
  z-index: 33;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3rem;
}

.menu__item-link {
  color: white;
  font-size: 1.5rem;
  line-height: 1.25;
  -webkit-transition: color 0.1s ease;
  -o-transition: color 0.1s ease;
  transition: color 0.1s ease;
}

.menu__item-link:hover {
  color: #C0C0C0;
}

.burger {
  display: none;
  cursor: pointer;
}

.hero {
  background: url(../img/hero.webp) no-repeat center/cover, #000;
  background-attachment: fixed;
  height: calc(100vh - 8rem);
  padding: 4rem 0;
}

.hero .flex {
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.hero__subtitle {
  letter-spacing: 2px;
  text-transform: uppercase;
}

.hero__title {
  color: white;
  font-size: 5.4rem;
  line-height: 1.0925;
  text-align: center;
}

.hero__text {
  padding-top: 1.8rem;
  max-width: 58rem;
  text-align: center;
}

.combined {
  -webkit-transform: translateX(8rem);
      -ms-transform: translateX(8rem);
          transform: translateX(8rem);
}

.areas {
  background-color: black;
  padding: 11.2rem 0 10rem 0;
}

.areas__text-box {
  text-align: center;
}

.areas__title {
  padding-bottom: 1.5rem;
}

.areas__grid {
  padding-top: 4.2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1.6rem;
}

.areas__grid-item {
  height: 100%;
  padding: 3rem;
  height: 60rem;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  text-align: left;
}

.areas__grid-item:first-child {
  background: url("../img/area-1.webp") no-repeat center/cover;
}

.areas__grid-item:nth-child(2) {
  background: url("../img/area-2.webp") no-repeat center/cover;
}

.areas__grid-item:nth-child(3) {
  background: url("../img/area-3.webp") no-repeat center/cover;
}

.areas__grid-item:last-child {
  background: url("../img/area-4.webp") no-repeat center/cover;
}

.areas__grid-subtitle {
  letter-spacing: 2px;
  text-transform: uppercase;
  color: white;
  padding-bottom: 3rem;
}

.areas__grid-text {
  padding-bottom: 3rem;
  min-height: 8rem;
}

.areas__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  padding: 0.5rem;
  gap: 0.6rem;
}

@media (max-width: 1449.98px) {
  .container {
    max-width: 1200px;
  }

  .combined {
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
  }
}

@media (max-width: 991.98px) {
  .container {
    max-width: 970px;
  }

  .menu {
    gap: 1.8rem;
  }

  .combined {
    padding: 2rem 0 0 0;
  }
}

@media (max-width: 767.98px) {
  .container {
    max-width: 740px;
  }

  .areas__grid {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (max-width: 767.98px) {
  .menu {
    position: fixed;
    background: #131418;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    display: none;
  }

  .menu.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    pointer-events: all;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 22;
    -webkit-animation: fade 0.1s linear;
            animation: fade 0.1s linear;
  }

  .burger {
    display: block;
    position: relative;
    height: 20px;
    width: 30px;
    z-index: 102;
    cursor: pointer;
  }

  .burger.active-burger:before {
    background: "white";
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    -o-transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    top: 8px;
  }

  .burger.active-burger:after {
    background: "white";
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 10px;
    -webkit-transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    -o-transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
  }

  .burger.active-burger span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .burger:before,
  .burger:after {
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    background: "white";
    -webkit-transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    -o-transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
  }

  .burger:before {
    top: 0;
  }

  .burger::after {
    bottom: 0;
  }

  .burger span {
    position: absolute;
    top: 9px;
    right: 0;
    width: 100%;
    background: "white";
    height: 2px;
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
    -webkit-transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    -o-transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
  }

  .menu__item {
    margin-top: 15px;
  }

  .menu__item-link {
    color: white;
  }
}

@media (max-width: 479.98px) {
  .container {
    max-width: none;
  }

  .combined {
    -ms-flex-item-align: center;
        align-self: center;
  }
}